.home-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.hero-image {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgb(247, 252, 243) 90%),
    url('https://res.cloudinary.com/dgdbgblvb/image/upload/v1729239863/IMG_2526_scuf8z.jpg');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quote {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 135vh; /* Full viewport height */
    flex-direction: column;
}

.quote h4 {
    font-size: 5vw;
    color: #505c2c;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.home-page button {
    margin-top: 5px; /* Space between the quote and button */
    padding: 10px 20px;
    font-size: 2rem;
    background-color: #98a869;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Orbitron", sans-serif;

}

.home-page button:hover {
    background-color: #61b468; /* Darker shade for hover effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.three-column-section {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between columns */
    align-items: flex-start; /* Align items to the start */
    padding: 20px; /* Add some padding */
    background-color: white;
    margin-top: 0;
}

.column1, .column2, .column3 {
    flex: 1; /* Each column takes equal space */
    margin: 5px; /* Add margin between columns */
    font-size: 1.7rem;
    color: #222B31;
    padding: 10px; /* Add padding inside each column */
    background-color: white;
}

.column1, .column3 {
    flex: 0 0 25%; /* 20% width for the first and third columns */
}

.column2 {
    flex: 0 0 50%; /* 60% width for the second column */
}

.column2 strong{
    font-family: "Signika", sans-serif;
    color: #505c2c;
}

.column1 h3{
    color:#98a869 ;
    font-family: "Signika", sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.columna h3{
    color:#98a869 ;
    font-family: "Signika", sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.column3 img{
    width:60%;
    max-width: 100%;
    object-fit: cover;

}

.two-column-section {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between columns */
    align-items: flex-start; /* Align items to the start */
    padding: 20px; /* Add some padding */
    background-color: rgb(247, 252, 243);
    border-bottom: 4px solid #98a869 ;
    margin: 0;
}

.columna, .columnb {
    flex: 1; /* Each column takes equal space */
    margin: 5px; /* Add margin between columns */
    font-size: 1.7rem;
    color: aliceblue;
    padding: 10px; /* Add padding inside each column */
    background-color: rgb(247, 252, 243);
}

.columna{
    flex: 0 0 20%; /* 20% width for the first and third columns */
}

.columnb{
    flex: 0 0 80%; /* 20% width for the first and third columns */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.read-all {
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: rgb(68, 92, 58);
    text-decoration: none;
    font-weight: 500;
}

.read-all:hover {
    color:burlywood;
    text-decoration: underline;
}


/* Card styles */
.card-places {
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row, adjust the 20px gap */
    flex-basis: 18rem; /* Ensures each card has a fixed width */
    flex-grow: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    text-align: center;

}

.card-places:hover {
    transform: translateY(-10px); /* Lifts the card slightly */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* Increases shadow on hover */
}


.card-places img {
    width: 100%;
    height: auto;
    max-width: 260px; /* Limit the width for larger screens */
    max-height: 280px;
    border-radius: 8px 8px 0 0;
    object-fit: cover; /* Ensures the image maintains aspect ratio */}

.card-places-body {
    padding: 1rem;
    background-color: rgb(243, 252, 238);
}

.card-text {
    font-family: "Capriola", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color:#222B31;
}


#sustainability {
    background-color: rgb(247, 252, 243);
    padding:4%;
    border-bottom: 4px solid #98a869 ;
    border-top: 4px solid #98a869 ;
}
  
  .sustainability-hero h3 {
      margin-top: 0;
    padding-left:2%;
    color:#98a869 ;
    font-family: "Signika", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }
  
  .sustainability-key-points p {
    font-size: 1.7rem;
    margin:2%;
  }
  
  .sustainability-key-points {
    margin-top: 30px;
  }
  
  .sustainability-key-points h4 {
    padding-left:2%;
    font-size: 2.8rem;
    color: #98a869;
  }
  
  .sustainability-key-points ul {
    background-color: rgb(247, 252, 243);
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
  }
  
  .sustainability-key-points li {
    padding-left:5%;
    font-size: 1.8rem;
    margin:0;
  }
  
  .sustainability-key-points strong{
    color: #505c2c;
    font-family: "Signika", sans-serif;
} 

  .svg-section{
      background-color: rgb(247, 252, 243);
  }

  .svg-section-bottom{
    background-color: rgb(247, 252, 243);
    padding: 0;
  }

  .svg-section svg{
      fill:#98a869;
  }
  
  .svg-section-bottom svg{
    transform: rotate(180deg);
    fill:#98a869;
}

.flowchart {
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flowchart h3{
    color:#98a869 ;
    padding-top:4%;
    font-family: "Signika", sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.flowchart img{
    padding:2%;
    margin-bottom: 4%;
    width:50%;
}

/* Media Queries for Tablets */
/* Responsive Styles (Mobile & Tablets) */

@media (max-width: 1080px) {

    /* Adjust product section for two images in a row */
    .row {
        flex-wrap: wrap; /* Allow wrapping for responsive layout */
        justify-content: center; /* Center content */
    }

    .card-places img {
        width: 100%; /* Image takes full width in responsive mode */
        height: auto; /* Auto height to maintain aspect ratio */
    }

    /* Three-column section into one column */
    .three-column-section {
        flex-direction: column; /* Stack columns vertically */
    }

    .column1, .column2, .column3 {
        flex: 1 0 100%; /* Make each column take full width */
        margin: 10px 0; /* Add margin between columns */
    }

    .two-column-section {
        flex-direction: column; /* Stack columns in two-column-section */
    }

    .columna, .columnb {
        flex: 0 0 100%; /* Each column takes full width on small screens */
        margin: 10px 0; /* Add more margin for better spacing */
    }
    .columnb {
        gap: 10px; /* Reduce gap between elements on smaller screens */
    }

    /* Adjust the flowchart images to stack below text */
    .flowchart img{
        width:90%;
    }

    .flowchart h3{
        font-size: 3rem;
    }
    .sustainability-hero h3{
        font-size: 3rem;
    }
    .sustainability-key-points h4{
        font-size: 2.2rem;
    }
    .sustainability-key-points li {
        font-size: 1.4rem;
      }

    .columna h3{
        font-size: 3rem;
    }

    .column1 h3{
        font-size: 3rem;
    }

    /* Keep the quote at the bottom */
    .quote h4 {
        font-size: 8vw; /* Increase font size for smaller screens */
        top: 45%; /* Adjust centering for smaller screens */
    }

    .home-page button {
        font-size: 1rem; /* Slightly smaller button on smaller screens */
        padding: 10px 18px; /* Adjust padding */
    }
}

/* Adjust for very small screens */
@media (max-width: 576px) {


    .three-column-section {
        padding: 10px;
    }

    .card-places img {
        width: 100%;
        height: auto;
    }
    .column3 img{
        text-align: center;
        width:40%;

    }
    .flowchart h3{
        font-size: 2.5rem;
    }
    .flowchart img{
        width:100%;
    }

    .sustainability-hero h3{
        font-size: 2.5rem;
    }
    .sustainability-key-points h4{
        font-size: 2.2rem;
    }
    .sustainability-key-points li {
        font-size: 1.6rem;
        line-height: auto;
      }
    .columna h3{
        font-size: 2.5rem;
    }

    .column1 h3{
        font-size: 2.5rem;
    }
}

/* gallery section */

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

.gallery-container{
    background-color: rgb(243, 252, 238);
    border-top: 4px solid #98a869 ;
    padding:4%;

}
.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
    color:#98a869 ;
    font-family: "Signika", sans-serif;
    font-size: 4rem;
    font-weight: 500;
	line-height: 1.5;
	text-align: center;
    margin-bottom: 2%;;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.863); /* Black with opacity */
  }


  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    transition: transform 0.3s ease;
  }
  
  .modal-content:hover {
    transform: scale(1.05);
  }
  
  
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: rgb(255, 255, 255) !important; /* Change color to white */
    font-size: 100px; /* Increase the font size */
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff; /* Slightly lighter white on hover */
    text-decoration: none;
    cursor: pointer;
  }

